h1 {
    font-size: 72px;
    font-family: 'Fontdiner Swanky', cursive;
    text-align: center;
    color: green;
}

li {
    display: inline-block;
    font-size: 16px;
    width: 150px;
    border: 0px solid black;
    border-top-color: black;
    border-top-width: 2px;
    border-bottom-color: orange;
    border-bottom-width: 20px;
    color: red;
    margin: 10px;

}